.homeContainer {
  background-color: rgb(114, 0, 0);
  background-image: url('https://cdn.pixabay.com/photo/2018/04/05/09/03/background-image-3292240_1280.jpg');
  height: 200vh;
  background-position: center;
}
